
<PageTitle>Search Country - My Country App</PageTitle>

<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">
    <h1>Search Country</h1>
    <p class="text-muted mb-5">Search and know about a specific country</p>

    <div class="mb-2">
        <MudAutocomplete T="string" Label="Search by country, state or city" HelperTextOnFocus="true" HelperText="Where is your target audience located" @bind-Value="Country" SearchFunc="@Search" ShowProgressIndicator="true" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" DebounceInterval="100" ProgressIndicatorColor="Color.Success">
        </MudAutocomplete>
    </div>

    @if (InfoCountry != null && LocationIndex != null)
    {
            <MudChip T="string" Text="Pin Search" Icon="@Icons.Material.TwoTone.Favorite" IconColor="Color.Error" OnClick="SaveFavorite" />
        
        <div class="row">
            <div class="col-sm-@(LocationIndex.StateId == null ? "12" : "6") col-xs-12">
                <div class="card">
                    <div class="card-header"><h5>About @InfoCountry.Name</h5></div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-0 pt-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-1"> Region & SubRegion </p>
                                        <p class="text-muted mb-0">@InfoCountry.Region <span class="text-primary">•</span> @InfoCountry.Subregion</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-1"> Currency </p>
                                        <p class="text-muted mb-0">@InfoCountry.Currency <span class="text-primary">•</span> @InfoCountry.CurrencyName <span class="text-primary">•</span> @InfoCountry.CurrencySymbol</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-1"> Nationality, Capital & Phone Code </p>
                                        <p class="text-muted mb-0">@InfoCountry.Nationality <span class="text-primary">•</span> @InfoCountry.Capital <span class="text-primary">•</span> +@InfoCountry.PhoneCode</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item px-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="mb-1"> States & Cities </p>
                                        <p class="text-muted mb-0">States @InfoCountry.States.Count <span class="text-primary">•</span> Cities @InfoCountry.States.Sum(v => v.Cities.Count)</p>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item px-0 pb-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div style="max-height: 97px; overflow-y: auto;">
                                        <p class="mb-1"> Time Zones </p>
                                        <p class="text-muted mb-0">@string.Join(" • ", InfoCountry.Timezones.Select(g => g.GmtOffsetName))</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="@(LocationIndex.StateId != null ? "visible" : "invisible") col-sm-6 col-xs-12">
                <div class="card">
                    @{
                        var state = InfoCountry.States.FirstOrDefault(g => g.Id == LocationIndex.StateId);
                        <div class="card-header"><h5>About @state?.Name</h5></div>
                        <div class="card-body mb-0">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-0 pt-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <p class="mb-1"> Coordinates </p>
                                            <p class="text-muted mb-0">Lat: @state?.Latitude Lon: @state?.Longitude</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0 pb-0">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div style="max-height: @(LocationIndex.CityId == null ? "339" : "173")px; overflow-y: auto;">
                                            <p class="mb-1"> Cities </p>
                                            <p class="text-muted mb-0">@string.Join(" • ", state?.Cities?.Select(g => g.Name) ?? ["No cities"]) </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        if (state != null && LocationIndex.CityId != null)
                        {
                            var city = state.Cities.First(o => o.Id == LocationIndex.CityId);
                            <div class="card-header"><h5>About @city?.Name</h5></div>
                            <div class="card-body mb-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0 pt-0 pb-0">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div>
                                                <p class="mb-1"> Coordinates </p>
                                                <p class="text-muted mb-0">Lat: @city?.Latitude Lon: @city?.Longitude</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>
