<PageTitle>Get Support - My Country App</PageTitle>

<div class="col-sm-8 col-xs-12 ml-auto mr-auto mt-auto mb-auto">
    <h1>Get Support</h1>
    <p class="text-muted mb-5">Our well documented help center can help you get up to speed with common issues and how to resolve them. You can contact our technical team for bug reports and recommendations.</p>

    <div class="card">
        <div class="card-header"><h5>Contact Team</h5></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item pt-0 px-0 pb-0">
                    <div class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/danielmendie" target="_blank" class="mr-3">
                            <MudIcon Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" />
                        </a>
                        <a href="mailto:kewybype@gmail.com" class="mr-3">
                            <MudIcon Icon="@Icons.Material.TwoTone.Email" Size="Size.Large" Color="Color.Primary" />
                        </a>
                        <a href="tel:2347050506000" class="mr-3">
                            <MudIcon Icon="@Icons.Material.TwoTone.Call" Size="Size.Large" Color="Color.Primary" />
                        </a>
                        <a href="whatsapp://send?phone=2347030141419" class="mr-3">
                            <MudIcon Icon="@Icons.Custom.Brands.WhatsApp" Size="Size.Large" Color="Color.Primary" />
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header"><h5>Help Center</h5></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                @{
                    int count = 0;
                    var data = Articles?.DistinctBy(k => k.ParentId);
                    if (data != null)
                    {
                        foreach (var item in data)
                        {
                            count++;
                            <li class="list-group-item px-0 @(count == 1 ? "pt-0" : count == data.Count() ? "pb-0" : "")" @onclick="() => OpenArticleSection(item.ParentId)">
                                <div class="d-inline-block">
                                    <MudIcon Icon="@Icons.Material.TwoTone.Article" /> @item.Category
                                </div>
                                <div class="float-end">
                                    <MudIcon Icon="@Icons.Material.TwoTone.NavigateNext" />
                                </div>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>
